*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(173,64,86,1) 100%);
    position: relative;
}

.home-screen{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-top: 5rem;
    justify-content: center;
    color: white;
    z-index: -1;
}

.home-screen.active{
    z-index: 1;
}

.game-mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;   
}

.game-screen{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: -1;
}

.game-screen.active{
    z-index: 1;
}


.game-info{
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    position: absolute;
    top: 3rem;
}

.tic-tac-toe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    aspect-ratio: 1/1;
}

.box{
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-right{
    border-right: 2px solid white;
}

.border-down{
    border-bottom: 2px solid white;
}

.btn{
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    cursor: pointer;
    font-size: 1rem;
}

.game-over-text{
    color: #54e229;
    font-size: 3rem;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}

.game-over-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    width: 22rem;
    border-radius: 3rem;
    background-color: rgba(85, 85, 7, 0.75);
    aspect-ratio: 1/1;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.game-over-container.active{
    transform: scale(1);
}

